<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/js/app.js"></script>
        <link rel="icon" href="/img/favicon.ico">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Joe Robbins.  It uses data from mapbox.com and weatherstack.com.</p>
            <img class="portrait" src="/img/joe.jpg">
        </div>

        {{>footer}}
    </body>
</html>